@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header {
  background: none;
  font-size: 24px;
  padding: 20px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  @media all and (max-width: 466px) {
    padding: 0;
    display: flex;
    justify-content: space-around;
    // margin-top: 15px;
    padding-top: 15px;
  }
  h2 {
    @media all and (max-width: 1000px) {
      font-size: 28px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    @media all and (max-width: 1000px) {
      display: none;
    }
    li {
      margin-right: 74px;
      // font-size: 1rem;
      span {
        font-size: .9rem;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        @media all and (max-width: 1024px) {
          font-size: .7rem;
        }
        &:hover {
          transition: .3s ease-in-out;
          color: rgb(167, 167, 167);
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  div {
    display: flex;
    align-items: center;
    .lupa {
      &:first-child {
        margin-right: 1rem;
      }
      @media all and (max-width: 425px) {
        display: none;
      }
    }
    input {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      padding-left: 5px;
      border: none;
      background: none;
      transition: width .5s;
      &::placeholder {
        color: #fff;
      }
      &:focus {
        outline: none;
        width: 10rem;
        background: #fff;
        &::placeholder {
          color: #414040;
        }
      }
      @media all and (max-width: 425px) {
        display: none;
      }
    }
  }
  svg {
    display: none;
    @media all and (max-width: 1000px) {
      display: block;
    }
  }
}
